@import "~bootstrap/scss/bootstrap";

.app-content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.employee-list {
    border: 1px solid #c9c9c9;
    flex: 1 0 auto;
    padding: 0.75rem;
}

.view-button {
    cursor: pointer;

    &:hover {
        background-color: #f8f9fa;
        text-decoration: underline;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
}

.calculator-label {
    &:not(.calculator-value-label) {
        font-weight: 500;
    }
}